header {
  background-color: var(--dark-bg);
  display: flex;
  position: fixed;
  justify-content: space-between;

  height: 56px;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 16px;
  z-index: 1000;
}

.header-left,
.header-center,
.header-right {
  /* background-color: lightcoral;*/
  align-items: center;
}

header div img {
  height: 19px;
  width: 19px;
}

/***********************| Button CSS |*******************/

.hamberger,
.microphone {
  margin-right: 16px;
}

.dots {
  margin-right: 6px;
}

.mag-glass,
.mic,
.back {
  margin-right: 2px;
}

/*************************| All header display |***********************/

.header-left,
.header-right {
  display: flex;
}

/*

.header-center,
.back {
  display: none;
}

.hamberger,
.youtube-logo,
.microphone,
.dots,
.mag-glass,
.mic,
.sign-in{
  display: flex;
}

*/
