/******************************| Header |*************************/

@media (min-width: 650px) {
  .header-center {
    display: flex;
    margin: 0px 40px;
  }

  .back,
  .mag-glass,
  .mic {
    display: none;
  }

  .hamberger,
  .youtube-logo,
  .microphone,
  .dots,
  .sign-in {
    display: flex;
  }
}

/******************************| Side Bar |*************************/

@media (max-width: 790px) {
  nav {
    display: none;
  }

  section {
    left: 0px;
  }
}

@media (min-width: 1300px) {
  section {
    left: 220px;
  }

  nav {
    width: 220px;
  }

  nav div snap {
    margin: 0px 0px 0px 25px;
  }

  .side-nav {
    flex-direction: row;
    justify-content: left;

    height: 40px;
    width: 182px;
    padding-left: 14px;
    margin: 8px 12px;
    border-radius: 12px;
    font-size: 14px;
  }
}

/***************************| Videos Bar |*************************/
