section {
  background-color: var(--dark-bg);
  position: fixed;
  display: flex;

  top: 56px;
  left: 72px;
  right: 0px;
  height: 56px;
}

.sub-header {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;

  margin: 0px 30px;
}

.sub-header div {
  background-color: var(--button-idle);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  flex-shrink: 0;
  margin: 12px 12px 12px 0px;
  padding: 0px 12px;
  border-radius: 10px;

  /*Prevent user selection*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

section div img {
  height: 19px;
  width: 19px;
}

.previous,
.next {
  position: absolute;
  align-items: center;

  top: 0px;
  height: 56px;
  width: 80px;
}

.previous {
  left: 4px;
  background-image: linear-gradient(to right, black, black, transparent);
  justify-content: left;
}

.next {
  right: 4px;
  background-image: linear-gradient(to left, black, black, transparent);
  justify-content: right;
}

.previous .scroll-button img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/*---------------------- All button display ------------------*/
.scroll-button {
  display: flex;
}
